# SCW_ACCESS_KEY and SCW_SECRET_KEY are name convention for scaleway provider authentication.
# See. https://registry.terraform.io/providers/scaleway/scaleway/latest/docs#environment-variables
export SCW_ACCESS_KEY=...
export SCW_SECRET_KEY=...

# OVH
export OVH_APPLICATION_KEY=...
export OVH_APPLICATION_SECRET=...
export OVH_CONSUMER_KEY=...